<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Movie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='book.css') }}">
</head>
<body>
    <h2>Booking: {{ movie.title }}</h2>
    <form method="POST">
        <label>Name:</label>
        <input type="text" name="user" required>

        <label>Seats:</label>
        <input type="number" name="seats" required>

        <button type="submit">Confirm Booking</button>
    </form>
</body>
</html>
